.jobCard {
    border: 1px solid #000000;
    border-radius: 25px;
    cursor: pointer;
    width: 50%;
    margin: 10px 5px;
}

.jobCard__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.red {
    color: red;
}