.myProfile__content {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 10% 10% 70% 10%;
    grid-template-areas:
    "header header"
    "subHeader aside"
    "main aside"
    "footer footer" ;
    height: 100%;
}

header {
    grid-area: header;
    /* outline: 1px solid black; */
    font-size: 20px;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */

}

.subHeader {
    grid-area: subHeader;
    /* outline: 1px solid black; */
    /* overflow: hidden; */
    font-size: 14px;
}

.subHeader > p {
    margin-top: -15px;
}

.subHeader > p:first-child {
    display: flex;
    align-items: center;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "left right";
}

.main__left {
    grid-area: left;

}

.main__right {
    grid-area: right;
}

.chip {
    margin: 5px;
}

aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside > Button {
    margin: 15px 0 !important;
    width: 80% !important;
}






section > h4 {
    margin: 0.5rem 0;
    /* outline: 1px solid salmon; */
}

section > p {
    /* outline: 1px solid green; */
    margin: 1px 0;
}

.myProfile__left {
    width: 20%;
}

.myProfile__right {
    width: 80%;
}

footer {
    grid-area: footer;
    display: flex;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    overflow: scroll;
}

.dialog__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}