.app {
  width: 90vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  position: absoloute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}


.main {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-areas: 
  "navBar content";
  overflow-y: scroll;
  height: 100%;
}

.content {
  grid-area: content;
}

.error {
  color: #FF9494;
  text-align: center;
  margin: 10px 0;
  width: 80%;
}
